<section id="ideas-section">
  {{#each ideas}}
  <h2 class="mb-3"> Ideas List </h2>
  
  <div class="card mb-3 card-body bg-light text-dark">
    <h3 class="card-title">
      {{title}}
    </h3>

    <p class="card-text">
      {{description}}
    </p>

    <a role="button" href="/ideas/edit/{{id}}" class="btn btn-dark btn-block mb-2">
      Edit Idea
    </a>

    <form method="post" action="/ideas/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete" class="btn btn-danger btn-block">
    </form>
  </div> <!-- card -->
  {{else}}
 
  {{/each}}
</section>